<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>All Tags</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/review.css}">
</head>
<body>
	<div class="main-container">
		<header>
			<h1>All Tags</h1>
			<hr>
		</header>

		<main>
			<section class="column-1">
				<ul>
					<li th:each="tag : ${tags}"><a th:href="@{|/tags/${tag.id}|}" th:text="${tag.name}"></a></li>
				</ul>

				<p>Would you like to edit tags?<br/></p>
				<button class="add-button">Edit Tags</button>

			</section>
			<section class="column-2">
				<img class="main-image" th:src="@{/images/tags.jpg}">

				<div class="editing">
					<form class="add-item" method="POST">
						<p><strong>Add A Tag</strong></p>
						<p>Enter the new tag name<br/></p>
						<input id="add-text" type="text" name="tagName"><br/><br/>
						<input id="add-submit" type="submit" value="Submit" th:formaction="@{/tags/added}">
						<p id="exists"><em>This Tag already exists</em></p>
					</form>

					<form class="delete-item" method="POST">
						<p><strong>Remove Tag</strong></p>
						<p>Enter tag name<br/></p>
						<input type="text" name="tagName"><br/><br/>
						<input type="submit" value="Submit" th:formaction="@{/tags/delete}">
					</form>
				</div>
			</section>
		</main>

		<nav>
			<p>BoardGame HotSite</p>
			<div id="nav-links">
				<a th:href="@{/gameCategory/all}">All Categories</a>
				<a th:href="@{/gameReview/all}">Main Page</a>
			</div>
		</nav>

		<footer>
			<p class="co">&copy; MopamusWrex Gaming 2018</p>
		</footer>
	</div>

	<script type="text/javascript" th:src="@{/js/scriptEdit.js}"></script>
</body>
</html>