<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>All Categories</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/review.css}">
</head>
<body>
	<div class="main-container">
		<header>
			<h1>All Categories</h1>
			<hr>
		</header>
		
		<main>
			<section class="column-1">
				<ul>
					<li th:each="category : ${gameCategories}"><a th:href="@{/game-category(id=${category.id})}" th:text="${category.name}"></a></li>
				</ul>
			</section>

			<section class="column-2">
				<img th:src="@{./images/categories.jpg}">
			</section>
		</main>
	
		<nav>
			<p>BoardGame HotSite</p>
			<div id="nav-links">
				<a th:href="@{/tags}">All Tags</a>
				<a th:href="@{/allGameReviews}">Main Page</a>
			</div>
		</nav>
	
		<footer>
			<p class="co">&copy; MopamusWrex Gaming 2018</p>
		</footer>
	
	</div>
</body>
</html>