<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>BoardGame HotSite</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
	<div class="main-container">
		<h1>BoardGame HotSite</h1>

		<p>Welcome to the coolest site around: what you'll find may be profound</p>

		<hr>

		<section class="lists">
			<article>
				<h3>Here's a list of reviews fit to peruse</h3>

				<ul>
					<li th:each="review : ${gameReviews}"><a th:href="@{/game-review(id=${review.id})}" th:text="${review.name}"></a></li>
				</ul>
			</article>

			<article>
				<h3>Here are categories so you can find what kind of games may tickle your mind</h3>

				<ul>
  					<li th:each="category : ${gameCategories}"><a th:href="@{/game-category(id=${category.id})}" th:text="${category.name}"></a></li>
				</ul>
			</article>
		</section>

		<img src="/images/gameroom.jpg" class="main-image">
		
		<nav>

		</nav>

		<footer>
			<p class="co">&copy; MopamusWrex Gaming 2018</p>
		</footer>

	</div>
</body>
</html>