<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Single Category</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/review.css}">
</head>
<body>
	<div class="main-container">
		<header>
			<h1>Category: <span th:text="${gameCategory.name}">Unknown</span></h1>
			<hr>
		</header>
		
		<main>
			<section class="column-1">
				<h2>Games</h2>
				<ul>
					<li th:each="game : ${games}"><a th:href="@{|/gameReview/${game.id}|}" th:text="${game.name}"></a></li>
				</ul>
			</section>
			<section class="column-2">
				<img th:src="@{'/images/' + ${gameCategory.name} + '.jpg'}">
			</section>
		</main>



		<nav>
			<p>BoardGame HotSite</p>
			<div id="nav-links">
				<a th:href="@{/gameCategory/all}">All Categories</a>
				<a th:href="@{/tags/all}">All Tags</a>
				<a th:href="@{/gameReview/all}">Main Page</a>
			</div>
		</nav>
	
		<footer>
			<p class="co">&copy; MopamusWrex Gaming 2018</p>
		</footer>

	</div>
</body>
</html>