<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
	<title>Single Review</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/review.css}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body>
	<div class="main-container">
		<header>
			<h1 th:text="${gameReview.name}"></h1>
			<h2>Game Category: <a th:href="@{/game-category(id=${gameCategory.id})}" th:text="${gameCategory.name}"></a></h2>
			<h3 th:text="${gameReview.synopsis}"></h3>
			<hr>
		</header>
		
		<main>
			<section class="column-1">
				<ul class="info">
					<li><i class="fas fa-users"></i> : <span th:text="${gameReview.rangeOfPlayers}"></span></li>
					<li><i class="fas fa-stopwatch"></i> : <span th:text="${gameReview.timeToComplete}"></span></li>
				</ul>
				<a id="game-link" th:href="@{${gameReview.weblink}}">External Link to Game</a>
				<span th:if="${gameExpansion}">Expansion Link: <a th:href="@{/expansion(id=${gameExpansion.id})}" th:text="${gameExpansion.name}"></a></span>
				
				<p th:utext="${gameReview.review}"></p>
			</section>
			
			<section class="column-2">
				<img th:src="@{'./images/' + ${gameReview.pictureLink}}" />
			</section>				
		</main>

		<div id="tags">
			<p class="buttons" th:each="tag : ${gameReview.tags}"> 
				<a th:href="@{/tag(id=${tag.id})}"><button  th:text="${tag.name}"></button></a>
			</p>
		</div>
		
		<nav>
			<p>BoardGame HotSite</p>
			<div id="nav-links">
				<a th:href="@{/allGameCategories}">All Categories</a>
				<a th:href="@{/allTags}">All Tags</a>
				<a th:href="@{/allGameReviews}">Main Page</a>
			</div>
		</nav>

		<footer>
			<p class="co">&copy; MopamusWrex Gaming 2018</p>
		</footer>

	</div>
</body>
</html>