<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
	<title>Single Review</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/review.css}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body>
	<div class="main-container">
		<h1 th:text="${gameReview.name}"></h1>

		<p>Game Category: <a th:href="@{/game-category(id=${gameCategory.id})}" th:text="${gameCategory.name}"></a></p>
		<img th:src="@{'./images/' + ${gameReview.pictureLink}}" />

		<li><span th:text="${gameReview.rangeOfPlayers}"></span></li>
		<li><span th:text="${gameReview.timeToComplete}"></span></li>
		<li><span th:text="${gameReview.synopsis}"></span></li>

		<p th:utext="${gameReview.review}"></p>

		<a th:href="@{${gameReview.weblink}}">External Link to Game</a>

		<a th:if="${gameReview.gameExpansion}" th:href="@{/expansion(id=${gameReview.gameExpansion.id})}" th:text="${gameReview.gameExpansion.name}"></a>
		
		<div th:each="tag : ${gameReview.tags}">
		
			<a th:href="@{/tag(id=${tag.id})}"><button  th:text="${tag.name}"></button></a>
		
		</div>

		<nav>
			<a th:href="@{/allGameReviews}">Back to the Main Page</a>
		</nav>

		<footer>
			<p class="co">&copy; MopamusWrex Gaming 2018</p>
		</footer>

	</div>
</body>
</html>